@import "variaveis.scss";
:host {
  background-color: #222;
  position: absolute;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  //Circulos
  .bg-circles {
    position: absolute;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
  }
  .bg-circles div {
    position: absolute;
    border-radius: 50%;
  }
  .bg-circles .circle-1 {
    height: 150px;
    width: 150px;
    background-color: $cor-primaria;
    left: 60%;
    top: 20%;
    opacity: 0.3;
    animation: zoomInOut 5s linear infinite;
  }
  .bg-circles .circle-2 {
    height: 150px;
    width: 150px;
    background-color: $cor-primaria;
    left: 28%;
    top: 50%;
    opacity: 0.4;
    animation: bounceTop 4s ease-in-out infinite;
  }
  @keyframes bounceTop{
    0%,100%{
      transform: translateY(-50px);
    }
    50%{
      transform:translateY(0px)
    }
  }

  @keyframes zoomInOut{
    0%,100%{
      transform: scale(0.5);
    }
    50%{
      transform: scale(1);
    }
  }


  .base {
    background: rgba(59, 65, 53, 0.3);
    box-shadow: 0 8px 32px 0 rgba(40, 135, 31, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    width: 30%;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 10vh;


    img {
      width: 50%;
    }
    button {
      font-size: 1.5rem;
      min-width: 200px;
      padding: 20px;
      border-radius: 500px;
      background-color: $cor-primaria;
      color: white;
      border: 0;
      cursor: pointer;
      font-weight: 500;
      transition: 0.25s;
      &:hover {
        background-color: white;
        letter-spacing: 1px;
        color: $cor-primaria;
      }
    }
  }
}
